<!DOCTYPE html>
<html>
  <head>
    <title>Electron Boilerplate: Hello World!</title>
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="../dist/vendor/skeleton/css/normalize.css">
    <link rel="stylesheet" href="../dist/vendor/skeleton/css/skeleton.css">
    <!-- VENDOR JS -->
    <script src="../dist/vendor/angularjs/angular.min.js"></script>
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="../dist/css/style.css">
  </head>
  <body>

    <h1>Electron Boilerplate is alive!</h1>

    <!-- REQUIRED -->
    <script src="../jspm_packages/system.js"></script>
    <script src="../config.js"></script>
    <!-- bower:js -->
    <script src="../dist/vendor/angularjs/angular.js"></script>
    <!-- endbower -->
    <script src="../dist/js/sample.js"></script>
  </body>
</html>
