<!DOCTYPE html>
<html>
  <head>
    <title>Electron Boilerplate: Hello World!</title>
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="../public/vendor/skeleton/css/skeleton.css">
    <!-- VENDOR JS -->
    <script src="../public/vendor/jquery/dist/jquery.min.js"></script>
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="../public/css/style.css">
  </head>
  <body>
    
    <h1>Electron Boilerplate is alive!</h1>

    <!-- REQUIRED -->
    <script src="../jspm_packages/system.js"></script>
    <script src="../config.js"></script>
    <!-- CUSTOM JS -->
    <script src="../public/js/sample.js"></script>
  </body>
</html>
