<!DOCTYPE html>
<html>
  <head>
    <title>Electron Boilerplate: Hello World!</title>
    <!-- bower:css -->
    <!-- endbower -->
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="../dist/css/style.css">
  </head>
  <body>

    <h1>Electron Boilerplate is alive!</h1>

    <!-- REQUIRED -->
    <script src="../jspm_packages/system.js"></script>
    <script src="../config.js"></script>
    <!-- bower:js -->
    <!-- endbower -->
    <script src="../dist/js/sample.js"></script>
  </body>
</html>
